{
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "es6": true,
      "commonjs": true
    },
    "globals": { "Promise": true, "dd": true, "process": true },
    "extends": ["plugin:react/recommended"],
    "plugins": ["compat", "react"],
    "rules": {
      "spaced-comment": 0,
      "prefer-const": 1,
      "no-undef": 1, 
      "prefer-rest-params": 1,
      "no-const-assign": 2,
      "no-unused-vars": [
        1,
        {
          "vars": "local",
          "varsIgnorePattern": "^_",
          "args": "after-used",
          "argsIgnorePattern": "^_"
        }
      ],
      "react/jsx-uses-vars": [2],
      "no-console": 1,
      "no-else-return": 1,
      "no-debugger": 1,
      "react/no-direct-mutation-state": 0,
      "no-empty": 1,
      "react/no-multi-comp": 1,
      "no-constant-condition": 1,
      "react/jsx-no-bind": 0,
      "react/prop-types": 1,
      "arrow-body-style": 1,
      "react/prefer-stateless-function": 0,
      "compat/compat": 2,
      "eqeqeq": 2,
      "no-unreachable": 2,
      "react/jsx-wrap-multilines": 0
    },
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "settings": {
      "polyfills": ["fetch"]
    },
    "parserOptions": {
      "sourceType": "module"
    }
  }
  